# Wire up travis
language: python
sudo: false

python:
  - "3.6"
  - "3.7"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r requirements-tests.txt
# command to run tests
script:
  - pytest