appdirs==1.4.3
appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
imageio==2.8.0
importlib-metadata==1.6.0
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.2.0
networkx==2.4
numpy==1.18.4
openslide-python==1.1.1
packaging==20.3
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
regex==2020.4.4
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
toml==0.10.0
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.9
zipp==3.1.0
